body{
    background: linear-gradient(135deg,#ffd6e7,#ffe9f3);
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:white;
    padding:40px;
    border-radius:20px;
    width:350px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

input{
    padding:10px;
    width:80%;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ddd;
}

button{
    padding:10px 20px;
    border:none;
    background:#ff4d88;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.hidden{
    display:none;
}

.err{
    color:red;
    font-size:14px;
}
.heart{
    position:fixed;
    bottom:-10px;
    font-size:20px;
    animation:float 6s linear infinite;
    opacity:0.7;
}

@keyframes float{
    0%{transform:translateY(0);opacity:0.7;}
    100%{transform:translateY(-100vh);opacity:0;}
}
.card{
    transition:0.5s;
}

.show{
    animation:fadeIn 1s ease forwards;
}

@keyframes fadeIn{
    from{opacity:0; transform:scale(0.9);}
    to{opacity:1; transform:scale(1);}
}

